# Ignore Mac system files
.DS_store

# Ignore jupyter checkpoints
.ipynb_checkpoints

# Ignore docx file
/Supplementary_materials.docx

/Supplementary_Appendix.docx

# Ignore files related to API keys
.env

# Ignore SASS config files
.sass-cache

# Git all commands
/git.sh
